@CHARSET "UTF-8";
#counter {
display: inline-block;
font-family: 'Open Sans', sans-serif;
-webkit-transition: all 400ms ease;
-moz-transition: all 400ms ease;
-o-transition: all 400ms ease;
transition: all 400ms ease;
text-align: center;
width: 33%;
}
#counter-text{
text-align: center;
}
h4 {
font-weight: 600;
text-transform: uppercase;
display: inline-block;
color: #999;
}
.circle {
font-size: 66px;
display: inline-block;
font-weight: 400;
text-align: center;
background: orange;
width: 150px;
line-height: 150px;
color: #fff;
border-radius: 100%;
}
 @media only screen and (max-width: 1024px) {
.circle {
font-size: 45px;
	}

}
 @media only screen and (max-width: 800px) {
.circle {
font-size: 35px;
}
#counter {
width: 100%;
margin-left: auto;
margin-right: auto;
	}
}
